Merci pour votre commande !
==========================================================
 
Tu t'es inscrit sur KitKat Club en utilisant l'e-mail suivant : <%= @user.email %>.
 
Télécharge tes images ici : <%= @url2 %>.

<p> À très vite sur Kit Kat Club !</p>