

<nav class="login-form mt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card">
                    <div class="card-header text-white bg-secondary">Vos commandes</div>
                  <div class="card-body">
                  <h4><center>Prénom & Nom</center></h4>
                  <p>><center>Votre Email :</center></p>
                  <p><center>someone@example.com</center></p>
                  <br>
                  <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Produit</th>
                      <th scope="col">Quantité</th>
                      <th scope="col">Prix</th>
                    </tr>
                  </thead>
                  <tbody>
                  <ul class="list-group">
                  <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
              </ul>
                  </tbody>
                  <thead>
                     
                  </thead>
                </table>
                </div>
                </div>
                </div>
              </div>
          </div>
      </div>
      </div>
    </nav >








