<div class="container text-center">
    <h2>Merci pour votre commande, nous venons de vous envoyer un mail avec vos images !</h2>
    <%= link_to "Retour à l'accueil", root_path, class: "btn btn-success my-5" %>
</div>
